<% content_for :header do %>
<section class="hero is-warning">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Our Products
      </h1>
    </div>
  </div>
</section>
<% end %>

      <%= form_tag(results_search_index_path, method: "get") do %>
        <%= select_tag"category", options_from_collection_for_select(Category.all, "id", "name"), :include_blank => "All" %>
        <%= select_tag"orderBy", options_for_select({"Name" => "1", "New" => "2", "Recently Update" =>"3"}) %>
        <%= text_field_tag(:q) %>
        <%= submit_tag("Search") %>
      <% end %>

<% if @products.empty?%>
    <p>Sorry, no products found </p>
<% else%>
<%= paginate @products %>

<div class="product-index-grid pt4">
  <% @products.each do |product| %>

    <div class="product border-light">

    <div class="pa3">

      <h3 class="fw7 f4 title"><%= link_to product.name, product %></h3>

      <p class="has-text-gray fg pt1"><%= product.description %></p>

      <p class="f3 fw6 has-text-right pt2 price"><%= number_to_currency(product.price) %></p>

    </div>
  </div>
  <% end %>
  <%end%>
</div>
<%= paginate @products %>

