<!DOCTYPE html>
<html>
  <head>
    <title>E-Commerce Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
  <%= link_to 'Home', root_path %>
  <%= link_to 'Products', products_path%>
  <%= link_to 'About Us', about_path %>
  <%= link_to 'Contact', contact_path %>
  </header>
    <%= yield %>
        <footer>
      <p> Full-Stack Project 2018 </p>
    </footer>
  </body>
</html>
